{_PH_DOCTYPE_}
{_TEST_EMPTY_}
<html{_PH_LANG_1_}>
    <head>
    {_PH_META_}
    <title>XVI</title>
    </head>
    <body>
        <p> SITE_1 шаблон </p>
        {_PLACEHOLDER_}
        {_PH_DEMO_}
        
<!--  Below is just a sample code

  <TABLE>
  <TR>
    <TD>
              <form action="update.php" id="htmlForm" name="htmlForm" method="post" style="width:50%">
            <fieldset>
            <legend>
                Коротко о себе:
                <select>
                <option value="test_1">First option</option>
                <option value="test_2">Second Option</option>
                <option value="test_3">Third option</option>
            </select>
            </legend>

            <textarea id="htmlText" class="text" cols="60" rows ="20" name="htmlText" form="htmlForm"></textarea>
            <br>
            <input type="submit" value="Update" class="submitButton">
            </fieldset>
        </form>
  
    </TD>
      <TD>
                  <form>
 <p><label>Customer name: <input></label></p>
 <p><label>Telephone: <input type=tel></label></p>
 <p><label>E-mail address: <input type=email></label></p>
 <fieldset>
  <legend> Pizza Size </legend>
  <p><label> <input type=radio name=size> Small </label></p>
  <p><label> <input type=radio name=size> Medium </label></p>
  <p><label> <input type=radio name=size> Large </label></p>
 </fieldset>
 <fieldset>
  <legend> Pizza Toppings </legend>
  <p><label> <input type=checkbox> Bacon </label></p>
  <p><label> <input type=checkbox> Extra Cheese </label></p>
  <p><label> <input type=checkbox> Onion </label></p>
  <p><label> <input type=checkbox> Mushroom </label></p>
 </fieldset>
 <p><label>Preferred delivery time: <input type=time min="11:00" max="21:00" step="900"></label></p>
 <p><label>Delivery instructions: <textarea></textarea></label></p>
</form>

      </TD>
  </TR>
</TABLE>
-->        
        
    </body>
</html>
