{_PH_DOCTYPE_}
<html{_PH_LANG_}>
<head>
        {_PH_META_}
        <title>{_PH_PG_TITLE_}</title> 
	{_W2W_CSS_}
        {_FAVICON_}
        {_W2W_JS_}

</head>
<body>

<div id="topbg"></div>

<div id="main"> 
    <div id="header">{_PH_SITE_HEADER_}</div>
    <ul id="menu">{_PAGE_MENU_}</ul> 

    	<div id="content"> 
            <div id="left">{_CONTENT_LEFT_}</div>
 
		<div id="right"> 
                        {_CONTENT_RIGHT_TOP_}
			{_PH_CLEANER_} 
                        {_CONTENT_RIGHT_BOTTOM_}
		</div> 
            {_PH_CLEANER_} 
            {_SITE_FOOTER_}

	</div> 
</div> 
            
    {_READMORE_SCRIPT_}
    {_PH_GA_ID_}

</body>

</html>


 

 

			


