{_PH_DOCTYPE_}
<html{_PH_LANG_}>
<head>
        {_PH_META_}
        <title>{_PH_PG_TITLE_}</title> 
	{_W2W_CSS_}
	<link rel="icon" type="image/ico" href="favicon.ico" />
	<script src="/../js/jquery-2.1.3.min.js"></script>
	<script src="/../js/readmore.min.js"></script>

</head>
<body>

<div id="topbg"></div> 
<div id="main"> 
        {_PH_SITE_HEADER_}
    
	<ul id="menu"> 
		<li><a href="/../index.html"><span></span>Главная</a></li>
		<li><a class="sel" href="/../video/video.html"><span></span>Видео</a></li> 
		<li><a href="#"><span></span>Путешествия</a></li>
	</ul> 

    	<div id="content"> 
                {_CONTENT_LEFT_}
 
		<div id="right"> 
			<h3 class="ttl"><span></span>Lorem ipsum dolor sit amet</h3> 
			<img class="photo" src="photo1.jpg"> 
			<h4>Duis aute</h4> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ullamco laboris nisi ut aliquip.
			</p> 
			<p class="link"><a href="#">Ut labore: &raquo;</a></p> 
 
			<h3 class="ttl"><span></span>Excepteur sint occaecat</h3> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ullamco.
			</p> 
			
			<div id="rbox"> 
			<span></span>Adipisicing elit, sed do eiusmod tempor sunt in culpa qui officia.
			</div> 
			
			<button type="button">Deserunt &raquo;</button> 
 
			<div class="cleaner"></div> 
 
			<img class="photo" src="photo2.jpg"> 
			<h4>Duis aute</h4> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ullamco laboris nisi ut aliquip.
			</p> 
			<p class="link"><a href="#">Ut labore: &raquo;</a></p> 
		</div> 
 
            {_PH_CLEANER_} 
            {_SITE_FOOTER_}
	</div> 
</div> 
            
    {_READMORE_SCRIPT_}
            
    {_PH_GA_ID_}

</body>

</html>


 

 

			


